<h1 class="text-center" style="margin-top: 75px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">Productos</h1>
<form (ngSubmit)="insertData()" class="ml-4" >
  <div class="row">
    <div class="col-xs-3 ml-3">
      <div class="form-group">
        <label for="name">Nombre producto</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="productoss.nombre">
      </div>
    </div>
    <div class="col-xs-3 ml-3">
      <div class="form-group">
        <label for="last_name">Detalle</label>
        <input type="text" name="last_name" class="form-control" [(ngModel)]="productoss.detalle">
      </div>
    </div>
    <div class="col-xs-3 ml-3">
      <div class="form-group">
        <label for="identification">Precio</label>
        <input type="text" name="identification" class="form-control" [(ngModel)]="productoss.precio">
      </div >
    </div>
    <div class="col-xs-3 ml-3">
      <div class="form-group">
        <label for="identification">Categoría/Tipo</label>
        <select type="text" name="identification" class="form-control" [(ngModel)]="productoss.categoria_id">
          <option *ngFor="let categoria of categoria" value={{categoria.id}}>{{categoria.nombre_categoria}}</option>
        </select>
      </div >
    </div>
  </div>
    
    <button class="btn btn-outline-primary mt-2 mb-4">Registrar</button>
  </form>
  
  <table class="table ml-2">
       <thead>
         <tr>
          <th scope="col">#</th>
  
           <th scope="col">Nombre</th>
           <th scope="col">Detalle</th>
           <th scope="col">Precio</th>
           <th scope="col">Categoria</th>
           <th scope="col">Acción</th>
           
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let productos of productos">
          <th scope="row">{{productos.id}}</th>
           <th scope="row">{{productos.nombre}}</th>
           <td  scope="row"> {{productos.detalle}}</td>
           <td  scope="row">{{productos.precio}}</td>
           <td  scope="row">{{productos.categoria_id}}</td>
           
           
           <td><button class="btn btn-danger" (click)="deleteData(productos.id)">Eliminar</button></td>
           <td><button class="btn btn-primary" routerLink="edit/{{productos.id}}">Editar</button></td>
         </tbody>
       </table>
