<h1 class="text-center" style="margin-top: 75px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">Categoría editar</h1>
<form (ngSubmit)="updateCategorias()" class="ml-4">
    <div class="form-group">
      <label for="name" style="font-weight: bold;">Nombre categoría o tipo</label>
      <div class="row">
        <div class="col-xs-3 ml-3">
          <input type="text" name="name" class="form-control" [(ngModel)]="categorias.nombre_categoria">
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary mr-2">Actualizar</button>
    <button class="btn btn-danger ml-2" routerLink="/categoria">Regresar</button>
  </form>
