<h1 class="text-center" style="margin-top: 75px;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; font-size:xx-large;">Categorías</h1>
<form (ngSubmit)="addData()" class="ml-3" >
    <div class="form-group">
      <label for="name" style="font-weight: bold;">Nombre de categoría o tipo</label>
      <div class="row">
        <div class="col-xs-3 ml-3">
          <input type="text" name="name" class="form-control" [(ngModel)]="categorias.nombre_categoria">
        </div>
      </div>
    </div>
    <button class="btn btn-outline-primary mt-4 mb-4">Registrar</button>
  </form>
  <table class="table ml-4">
       <thead>
         <tr>
          <th scope="col">#</th>
           <th scope="col">Nombre de categoría</th>
           <th scope="col">Acción</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let categoria of categoria">
          <th scope="row">{{categoria.id}}</th>
           <th scope="row">{{categoria.nombre_categoria}}</th>
           <td><button class="btn btn-danger" (click)="deleteData(categoria.id)">Eliminar</button></td>
           <td><button class="btn btn-primary" routerLink="edit/{{categoria.id}}">Editar</button></td>
         </tbody>
       </table>
