
<<br/><br/>
<h2 class="text-center">Catálogo de productos</h2>
<br>
<div class="container ">
     <div class="row align-items-start d-flex justify-content-center">
        <div *ngFor="let key of  productos">
                <div class="col-4">
                    <div class="card mb-3 p-2" style="width: 15rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{key.nombre}}</h5>
                        <p class="card-text">{{key.detalle}}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{key.precio}}</li>
                        </ul>
                        </div>
                        <div class="fileContainer">
                            <button (click)="clickeado=true; mostrar=key.id" > Mostrar </button>
                          </div>
                  
                          <div *ngIf="clickeado && mostrar==key.id">
                            <div>
                                <input type="number" [(ngModel)]='textoDeInput'>
                                <button (click)="carrito(key.id,textoDeInput)" class="btn-primary mr-2">Añadir</button>
                                <button (click)="borrarElemento(pedidos,key.id)" class="btn-danger ml-2">Quitar</button>
                            </div>
                            <button (click)="clickeado=false"> Ocultar </button>
                          </div>
                    </div>
                </div>
        </div>
    </div>
    <button (click)="PostearPedido()" >Hacer pedido</button>
</div>

//routerLink='/pedidos'