<div class="">
<div>
    <h1>Detalle de productos-pedidos-users</h1>
</div>
<div>
 <button routerLink="/pedidos">Agregar pedido</button>
</div>
<div>
    <h1 *ngIf="detalles.length==0">No hay datos que mostrar</h1>
    <div *ngFor="let detalle of detalles">

        <span *ngFor='let producto of productos' class="flex items-center justify-center">
            <p *ngIf='producto.id === detalle.producto_id' class="text-xs font-sans">{{producto.nombre+' '+producto.precio}}</p>
        </span>

    </div>
</div>
</div>
