<br><br>
<div class="container">
    <div class="card" >
        <div class="card-body">
          <div style="margin: 1cm;">
            <p class="card-title"> Orden a nombre de {{pedidoUserPrducto[0].name}} </p>
            <p class="card-text"> Cedula: {{pedidoUserPrducto[0].cedula}} </p>
            <p class="card-text">Correo: {{pedidoUserPrducto[0].email}} </p>
            <p class="card-text">Teléfono: {{pedidoUserPrducto[0].telefono}} </p>
            <p class="card-text">Dirección: {{pedidoUserPrducto[0].direccion}}</p>
          </div>
        </div>
        <div class="card-footer">
            <h5 class="card-body">Detalles Pedidos</h5>
            <table class="table table-hover">
                <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Cantidad</th>
                      <th scope="col">Productos</th>
                      <th scope="col">Detalle</th>
                      <th scope="col">Precio U.</th>
                      <th scope="col">Subtotal</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr *ngFor="let i of detallesPedido;let j = index" >
                      <th scope="row">{{j+1}}</th>
                      <td>{{i.cantidad}} </td>
                      <td>{{i.nombre}}</td>
                      <td>{{i.nombre_categoria}}</td>
                      <td>{{i.precio}}</td>
                      <td>$ {{subtotal[j]}}</td>
                    </tr>
                    <tr>
                      <th colspan="4"></th>
                      <th >Total</th>
                      <td>$ {{total}} </td>
                    </tr>
                  </tbody>
            </table>    
            <a (click)="confirmarPedido()" class="btn btn-primary">Confirmar Pedido</a>
        </div>
      </div>
</div>
